<section class="about__page">
    <h1 class="title">Rick and Morty GraphQL</h1>
    <div class="about__container">

        <p class="about_paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore temporibus, nostrum itaque sit
            quisquam delectus debitis harum obcaecati, iste veritatis laboriosam. Officiis quas voluptatem beatae,
            perspiciatis excepturi dolor nisi.
        </p>
        <figure class="about__img">
            <img src="/assets/imgs/web_dev.svg" alt="web dev" class="about__picture" rel="preload" as="image"
                width="406" height="306">
        </figure>

    </div>
    <p class="about__copy">
        Developer by <span class="text-white"> Gerardo Vasquez </span>
    </p>
</section>